service vendor.vibrator-rosemary /vendor/bin/hw/android.hardware.vibrator-service.rosemary
    class hal
    user system
    group system input

on post-fs
    chown system system /sys/devices/platform/aw8622/activate
    chown system system /sys/devices/platform/aw8622/duration
    chown system system /sys/devices/platform/aw8622/index
